.post-content {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-image: url('/img/frustration.png');
  background-attachment: fixed;
  background-size: auto;
  background-position: right bottom;
  background-repeat:no-repeat;

  background-color: #36393f;
}
